@using System.Security.Claims
@using Microsoft.ApplicationInsights.AspNetCore
@using ClickerHeroesTrackerWebsite.Models.Settings

@inject JavaScriptSnippet JavaScriptSnippet
@inject IContentManager ContentManager
@inject IUserSettingsProvider UserSettingsProvider
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Clicker Heroes Tracker</title>

    <environment names="Development,Buddy">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">Clicker Heroes Tracker</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li><a asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
                        <li><a asp-controller="Clans" asp-action="Index">Clans</a></li>
                    }
                    <li><a asp-controller="Upload" asp-action="Index">Upload</a></li>
                    <li><a asp-controller="Home" asp-action="New">What's New</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#feedbackModal">Feedback</a></li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li><a asp-controller="Admin" asp-action="Index">Admin</a></li>
                    }
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="loadingElement"><img src="/images/spin.svg"/></div>

    <div class="container body-content">
        <div class="alert alert-success" id="success-alert">
            <button type="button" class="close">x</button>
            <strong></strong>
        </div>
        <div class="alert alert-error" id="success-error">
            <button type="button" class="close">x</button>
            <strong></strong>
        </div>
        @RenderBody()
        <environment names="Production">
            <div class="row">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7807152857287265" data-ad-slot="2070554767" data-ad-format="auto"></ins>
                <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
            </div>
        </environment>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Clicker Heroes Tracker</p>
        </footer>
    </div>

    @await Html.PartialAsync("_FeedbackModal")

    <environment names="Development,Buddy">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
    </environment>

    <script type="text/javascript">
        var userSettings = @Json.Serialize(UserSettingsProvider.Get(UserManager.GetUserId(User)));
    </script>

    @await RenderSectionAsync("scripts", required: false)

    @foreach (var script in ContentManager.Scripts)
    {
        <script src="@script" type="text/javascript"></script>
    }

    @foreach (var rawScript in ContentManager.RawScripts)
    {
        <script type="text/javascript">@Html.Raw(rawScript)</script>
    }
</body>

</html>
