@using ClickerHeroesTrackerWebsite.Models.Settings

@inject IContentManager ContentManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IUserSettingsProvider UserSettingsProvider
@inject UserManager<ApplicationUser> UserManager

@{
    ViewBag.Title = "Upload";

    ContentManager.RegisterScript("AddUpload");

    var userSettings = UserSettingsProvider.Get(UserManager.GetUserId(User));
    var userPlayStyle = userSettings.PlayStyle.ToString();
}

<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-8">
        <form class="form-horizontal" id="addUpload" action="/api/uploads" method="post" role="form">
            <h4>Upload your save.</h4>
            <hr />
            <div class="form-group">
                <label class="col-md-2 control-label" for="EncodedSaveData">
                    Save Data
                </label>
                <div class="col-md-10">
                    <textarea class="form-control" cols="20" data-val="true" data-val-required="The Save Data field is required." id="EncodedSaveData" name="EncodedSaveData" rows="2"></textarea>
                    <span class="field-validation-valid text-danger" data-valmsg-for="EncodedSaveData" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="PlayStyle">
                    Play Style
                </label>
                <div class="col-md-10">
                    @foreach (var playStyle in Enum.GetNames(typeof(PlayStyle)))
                    {
                        <label class="radio-inline">
                            <input type="radio" name="PlayStyle" value="@playStyle" checked="@userPlayStyle.Equals(playStyle)" /> @playStyle
                        </label>
                    }
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="checkbox">
                            <label for="AddToProgress">
                                <input checked="checked" id="AddToProgress" name="AddToProgress" type="checkbox" value="true">
                                Add this upload to my progress
                            </label>
                        </div>
                    }
                    else
                    {
                        <div class="text-warning">
                            Progress can only be tracked over time for logged in users.
                            Please @Html.ActionLink("Log in", "Login", "Account") or @Html.ActionLink("Register", "Register", "Account").
                        </div>
                    }
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input id="addUploadSubmit" type="submit" value="Upload" class="btn btn-default" />
                </div>
            </div>
        </form>

    </div>
</div>
