@using ClickerHeroesTrackerWebsite.Models.Dashboard

@model ProgressViewModel

@{
    ViewBag.Title = "Progress";
}

@if (string.IsNullOrEmpty(Model.ProgressUserName))
{
    <h2>Progress</h2>
}
else
{
    <h2>@Model.ProgressUserName's Progress</h2>
}

@Html.Partial("_GraphScripts")

@Html.Partial("_RangeSelector", Model.RangeSelector)

@if (Model.ProminentGraphs.Count > 0 || Model.SecondaryGraphs.Count > 0)
{
    <div class="row">
        @foreach (var graph in Model.ProminentGraphs)
        {
            <div class="col-md-6">
                @Html.Partial("_Graph", graph)
            </div>
        }

        @foreach (var graph in Model.SecondaryGraphs)
        {
            <div class="col-md-4">
                @Html.Partial("_Graph", graph)
            </div>
        }
    </div>
}
else
{
    <h3 class="text-warning">
        No data for this time period!
    </h3>
}
