@using ClickerHeroesTrackerWebsite.Models
@using ClickerHeroesTrackerWebsite.Models.Dashboard
@using ClickerHeroesTrackerWebsite.Views

@model GraphData

<div id="@Model.Id" style="width:100%; height:400px;"></div>

@using (Html.BeginScripts())
{
    <script type="text/javascript">
        $(function () {
            $('#@Model.Id').highcharts(
            {
                chart:
                {
                    type: 'line'
                },
                title:
                {
                    text: '@Model.Title'
                },
                xAxis:
                {
                    tickInterval: 24 * 3600 * 1000, @* one day *@
                    type: 'datetime',
                    tickWidth: 0,
                    gridLineWidth: 1,
                    labels: {
                        align: 'left',
                        x: 3,
                        y: -3,
                        format: '{value:%m/%d}'
                    }
                },
                yAxis:
                {
                    labels:
                    {
                        align: 'left',
                        x: 3,
                        y: 16,
                        format: '{value:.,0f}'
                    },
                    showFirstLabel: false
                },
                legend:
				{
				    enabled: false
				},
                series:
                [
                    {
                        name: "@Model.Title",
                        data:
                        [
                            @foreach(var data in Model.Data)
                            {
                                <text>[
                                    </text>@data.Key.ToJavascriptTime()<text>,
                                    </text>@data.Value<text>
                                ],</text>
                            }
                            @* To force the graph to go up the the current time, no matter the last data point *@
                            [@DateTime.UtcNow.ToJavascriptTime(), @Model.Data.Last().Value]
                        ]
                    },
                ]
            });
        });
    </script>
}
