@using ClickerHeroesTrackerWebsite.Models.Dashboard
@model DashboardViewModel

@{
            ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<div class="row">
    <div class="col-md-6">
        <div class="clearfix">
            <h4 class="pull-left">Recent Uploads:</h4>
            <h5 class="pull-right">@Html.ActionLink("See all", "Uploads")</h5>
        </div>
        @Html.Partial("_UploadDataSummary", Model.UploadDataSummary)
    </div>
    <div class="col-md-6">
        @Html.Partial("_ProgressSummary", Model.ProgressSummaryGraph)
    </div>
</div>
@if (Model.RivalDataList.IsValid)
{
    <div class="row">
        <div class="col-md-6">
            @Html.Partial("_RivalDataList", Model.RivalDataList)
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @* Wire up tooltips *@
    <script type="text/javascript">
        $('[data-toggle="tooltip"]').tooltip();
    </script>
}
