@using Microsoft.AspNet.Identity
@using ClickerHeroesTrackerWebsite.Models.Dashboard

@model RivalViewModel

@{
    ViewBag.Title = "Rival";
}

<h2>@User.Identity.GetUserName() vs @Model.RivalUserName</h2>

@Html.Partial("_GraphScripts")

<div class="row">
    <div class="col-md-6">
        @Html.Partial("_Graph", new GraphData { Id = "soulsPerHourGraph", Title = "Souls/hr", Series1Name = User.Identity.GetUserName(), Series1 = Model.UserProgressData.SoulsPerHourData, Series2Name = Model.RivalUserName, Series2 = Model.RivalProgressData.SoulsPerHourData })
    </div>
    <div class="col-md-6">
        @Html.Partial("_Graph", new GraphData { Id = "optimalLevelGraph", Title = "Optimal Level", Series1Name = User.Identity.GetUserName(), Series1 = Model.UserProgressData.OptimalLevelData, Series2Name = Model.RivalUserName, Series2 = Model.RivalProgressData.OptimalLevelData })
    </div>
</div>
<div class="row">
    @foreach (var ancientLevels in Model.UserProgressData.AncientLevelData)
    {
        <div class="col-md-4">
            @Html.Partial("_Graph", new GraphData { Id = ancientLevels.Key.Name + "Graph", Title = ancientLevels.Key.Name, Series1Name = User.Identity.GetUserName(), Series1 = ancientLevels.Value, Series2Name = Model.RivalUserName, Series2 = Model.RivalProgressData.AncientLevelData.ContainsKey(ancientLevels.Key) ? Model.RivalProgressData.AncientLevelData[ancientLevels.Key] : null })
        </div>
    }
</div>
