@using Microsoft.AspNet.Identity
@using ClickerHeroesTrackerWebsite.Models.Dashboard

@model RivalViewModel

@{
    ViewBag.Title = "Rival";
}

<h2>@User.Identity.GetUserName() vs @Model.RivalUserName</h2>

@Html.Partial("_GraphScripts")

<div class="row">
    @foreach (var graph in Model.ProminentGraphs)
    {
        <div class="col-md-6">
            @Html.Partial("_Graph", graph)
        </div>
    }

    @foreach (var graph in Model.SecondaryGraphs)
    {
        <div class="col-md-4">
            @Html.Partial("_Graph", graph)
        </div>
    }
</div>
