@using ClickerHeroesTrackerWebsite.Models.Api.Stats;

<div data-type="simulationData">
    <h4>Simulation Data:</h4>
    <p class="text-muted">
        Based on the <a href="http://philni.neocities.org/ancientssoul.html" target="_blank">calculator</a> by /u/philni.
    </p>

    <table class="table">
        <tr>
            <td>Souls/hr</td>
            <td data-type="@StatType.SoulsPerHour.ToString().ToCamelCase()">0</td>
        </tr>
        <tr>
            <td>Optimal Level</td>
            <td data-type="@StatType.OptimalLevel.ToString().ToCamelCase()">0</td>
        </tr>
        <tr>
            <td>Souls per Ascension (at Optimal Level)</td>
            <td data-type="@StatType.SoulsPerAscension.ToString().ToCamelCase()">0</td>
        </tr>
        <tr>
            <td>Optimal Ascension Time</td>
            <td>
                <span data-type="@StatType.OptimalAscensionTime.ToString().ToCamelCase()">0</span> min
            </td>
        </tr>
    </table>
</div>

<h4>Miscellaneous stats:</h4>

<table class="table">
    <tr>
        <td>Hero Souls Spent</td>
        <td data-type="@StatType.HeroSoulsSpent.ToString().ToCamelCase()">0</td>
    </tr>
    <tr>
        <td>Hero Souls Sacrificed</td>
        <td data-type="@StatType.HeroSoulsSacrificed.ToString().ToCamelCase()">0</td>
    </tr>
    <tr>
        <td>Ancient Souls Earned</td>
        <td data-type="@StatType.TotalAncientSouls.ToString().ToCamelCase()">0</td>
    </tr>
    <tr>
        <td>Transcendent Power</td>
        <td data-type="@StatType.TranscendentPower.ToString().ToCamelCase()">0</td>
    </tr>
    <tr>
        <td>Max Transcendent Primal Reward</td>
        <td data-type="@StatType.MaxTranscendentPrimalReward.ToString().ToCamelCase()">0</td>
    </tr>
    <tr>
        <td>Transcendent Primal Cap Zone</td>
        <td data-type="@StatType.BossLevelToTranscendentPrimalCap.ToString().ToCamelCase()">0</td>
    </tr>
    <tr>
        <td>Titan Damage</td>
        <td data-type="@StatType.TitanDamage.ToString().ToCamelCase()">0</td>
    </tr>
    <tr>
        <td>Highest Zone</td>
        <td data-type="@StatType.HighestZoneThisTranscension.ToString().ToCamelCase()">0</td>
    </tr>
    <tr>
        <td>Highest Zone (Lifetime)</td>
        <td data-type="@StatType.HighestZoneLifetime.ToString().ToCamelCase()">0</td>
    </tr>
    <tr>
        <td>Ascensions</td>
        <td data-type="@StatType.AscensionsThisTranscension.ToString().ToCamelCase()">0</td>
    </tr>
    <tr>
        <td>Ascensions (Lifetime)</td>
        <td data-type="@StatType.AscensionsLifetime.ToString().ToCamelCase()">0</td>
    </tr>
    <tr>
        <td>Rubies</td>
        <td data-type="@StatType.Rubies.ToString().ToCamelCase()">0</td>
    </tr>
</table>
