@using ClickerHeroesTrackerWebsite.Models;
@using ClickerHeroesTrackerWebsite.Models.Calculator;
@using ClickerHeroesTrackerWebsite.Models.Game;

@model SuggestedAncientLevelsViewModel

<h4>Suggested Leveling Plan:</h4>
<p class="text-muted">
    Based on the <a href="http://redd.it/339m3j" target="_blank">Rules of Thumb</a>.
</p>

@{ var cssClass = Model.UserSettings.PlayStyle != PlayStyle.Active ? "text-muted" : "text-danger"; }
<p class="@cssClass">
    Currently these suggestions are not optimized for Active play style. You may change your play style in your @Html.ActionLink("settings", "Index", "Manage")
</p>

<table class="table">
    <tr>
        <th>Ancient</th>
        <th>Current</th>
        <th>Suggested</th>
        <th>Difference</th>
    </tr>
    @foreach (var ancient in Model.SuggestedAncientLevels.Where(x => x.SupportedPlayStyles.Contains(Model.UserSettings.PlayStyle)))
    {
        <tr>
            <td>
                @ancient.AncientName:
                @if (ancient.AncientName == Ancient.Solomon.Name)
                {
                    var solomonTooltip = this.Request.IsAuthenticated
                        ? "This is using your settings for the Solomon formula preference. You can change this on your settings page."
                        : "By default we use the \"Ln\" Solomon formula. You may change this by logging in and changing your settings.";
                    <a href="/Manage" class="text-muted" data-toggle="tooltip" data-placement="right" title="@solomonTooltip">(?)</a>
                }
            </td>
            <td class="text-right">@ancient.CurrentLevel:</td>

            @if (ancient.AncientName == Ancient.Siyalatas.Name)
            {
                <td class="text-right">
                    N/A
                    <a href="#" class="text-muted" data-toggle="tooltip" data-placement="bottom" title="The formulae are based on this ancient. If all suggestions below are negative or zero, level this ancient.">(?)</a>
                </td>
                <td></td>
            }
            else
            {
                <td class="text-right">@ancient.SuggestedLevel</td>
                <td class="text-right">@ancient.LevelDifference</td>
            }
        </tr>
    }
</table>