@using ClickerHeroesTrackerWebsite.Models.Game;
@using System.Security.Claims

@inject GameData GameData

@model IList<int>

<h4>Suggested Leveling Plan:</h4>

<div data-type="suggestedLevelsText">
    <p class="text-muted">
        Based on the <a href="https://redd.it/4naohc" target="_blank">Math by /u/sugima</a>.
    </p>
</div>

<div data-type="suggestedLevelsTextLegacy" class="hidden">
    <p class="text-muted">
        Based on the <a href="https://redd.it/3y57jd" target="_blank">Rules of Thumb</a>.
    </p>

    <p class="text-muted">
        These suggestions are based on your play style. You may change your play style in your @Html.ActionLink("settings", "Index", "Manage").
    </p>
</div>

<table class="table" data-type="suggestedLevels">
    <tr>
        <th>Ancient</th>
        <th>Current</th>
        <th>Suggested</th>
        <th>Difference</th>
    </tr>
    @for (var i = 0; i < Model.Count; i++)
    {
        var ancient = GameData.Ancients[Model[i]];

        <tr>
            <td>
                @ancient.Name:
                @if (ancient.Id == AncientIds.Solomon)
                {
                    var solomonTooltip = this.User.IsSignedIn()
                        ? "This is using your settings for the Solomon formula preference. You can change this on your settings page."
                        : "By default we use the \"Ln\" Solomon formula. You may change this by logging in and changing your settings.";
                    <a href="/Manage" class="text-muted hidden" data-toggle="tooltip" data-placement="right" data-type="solomonTooltip" title="@solomonTooltip">(?)</a>
                }
            </td>

            <td class="text-right">
                <span data-type="@AncientIds.GetAncientStatType(ancient.Id).ToString().ToCamelCase()" class="text-right">0</span>
                <span data-type="@AncientIds.GetAncientStatType(ancient.Id).ToString().ToCamelCase()Tooltip"
                      class="hidden"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      data-html="true"
                      title="">(*)</span>
            </td>

            @if (i == 0)
            {
                <td class="text-right">
                    N/A
                    <a href="#" class="text-muted" data-toggle="tooltip" data-placement="bottom" title="The formulae are based on this ancient. If all suggestions below are negative or zero, level this ancient.">(?)</a>
                </td>
                <td></td>
            }
            else
            {
                <td data-type="@AncientIds.GetSuggestedStatType(ancient.Id).ToString().ToCamelCase()" class="text-right">0</td>
                <td data-type="diff@(ancient.Name)" class="text-right">0</td>
            }
        </tr>
    }
</table>