@using ClickerHeroesTrackerWebsite.Models.Calculator
@model CalculatorViewModel

@{
    ViewBag.Title = "Calculator";
}

<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-4">
        @Html.Partial("_AncientLevelSummary", Model.AncientLevelSummaryViewModel)
    </div>
    <div class="col-md-4">
        @Html.Partial("_SuggestedAncientLevels", Model.SuggestedAncientLevelsViewModel)
    </div>
    <div class="col-md-4">
        @Html.Partial("_ComputedStats", Model.ComputedStatsViewModel)
    </div>
</div>
@* We don't store this data yet, so don't display it
    <div class="row">
        <div class="col-md-4">
            @Html.Partial("_HeroLevelSummary", Model.HeroLevelSummaryViewModel)
        </div>
        <div class="col-md-4">
            <h4>Hero Gild Suggestions:</h4>
            Coming Soon!
        </div>
    </div>
*@
